.element {
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__topSide {
    height: 80%;
    width: 100%;
    border: 5px solid #000;
    display: flex;
    &__hero {
      height: 100%;
      width: 20%;
      border: 1px solid green;
      padding: 15px;
    }
    &__location {
      height: 100%;
      width: 60%;
      border: 1px solid #000;
      &__inner {
        height: 100%;
        width: 100%;
        &_top {
          height: 10%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &_timer {
            height: 50px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            border-radius: 5px;
            font-size: 20px;
          }
        }
        &_main {
          height: 70%;
          width: 100%;
        }
        &_bottom {
          height: 20%;
          width: 100%;
          &__inner {
            height: 100%;
            width: 100%;
            padding: 2px;
            overflow: hidden;
            &_actions {
              height: 100%;
              width: 100%;
              border-radius: 5px;
              border: 1px solid #000;
              display: flex;
              overflow-x: auto;
            }
          }
        }
      }
    }
    &__enemy {
      height: 100%;
      width: 20%;
      border: 1px solid red;
      padding: 15px;
    }
  }
  &__bottomSide {
    height: 20%;
    width: 100%;
    border: 5px solid #000;
  }
}
