.element {
  height: 100%;
  width: 100%;
  padding: 1px;
  border: 1px solid #000;
  &__inner {
    height: 100%;
    margin-bottom: 5px;
    &_progress {
      height: 100%;
    }
  }
  &__statusInner {
    padding: 2px 0;
    &_data {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
