.element {
  height: 600px;
  width: 100%;
  &__inner {
    height: 100%;
    width: 100%;
    &_personageContainer {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & image {
        height: 100%;
        max-width: 100%;
      }
    }
    &_hpContainer {
      height: 10px;
      width: 100%;
    }
    &_iconsContainer {
      height: calc(100% - 80% - 10px);
      width: 100%;
    }
  }
}
