.element {
  display: flex;
  padding: 2px;
  &__dice {
    height: 36px;
    width: 36px;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
